.navbar-inverse {
	background-color: #6C9ACC;
	color: #FFFFFF;
	border-color: #586F87;
}

.navbar-inverse .navbar-toggle {
	border-color: #586F87;
	
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #586F87;
}

.navbar-inverse .navbar-nav > li > a{
	color: #FFFFFF;
}

.navbar > .container .navbar-brand {
	color: #FFFFFF;
}

body {
	background-color: #FFF6E6;
	color: #54513F;
	padding-top: 0px;
}

.page-header{
	border-bottom-color: #54513F
}

.panel-default > .panel-heading {
	background-color: #F2EAE2;
	border-color: #54513F;
}

.panel-default > .panel-body {
	background-color: #F2EAE2;
}

.panel-default {
	border-color: #54513F;
}

#mustache-render {
	display: none;
}