<b>THIS DEED OF CHANGE OF NAME AND TITLE</b> made this {{day}}{{day_descriptor}} day of {{month}} in the year {{year}} by me the undersigned {{#title_change}}{{new_title}} {{/title_change}}{{new_full_name}} of {{house_number}} {{street_name}}, {{town}}, {{postcode}} in the County of {{county}}, formerly known as {{#title_change}}{{old_title}} {{/title_change}}{{new_full_name}}.
<br/><br/>
<b>HEREBY DECLARE AS FOLLOWS:</b>
<br/><br/>
<b>I. I ABSOLUTELY</b><br/>
and entirely renounce, relinquish and abandon the use of my said former name {{old_full_name}} and assume, adopt and determine to take and use from the date hereof the name of {{new_full_name}} in substitution for my former name of {{old_full_name}}.
<br/><br/>
<b>II. I SHALL AT ALL TIMES</b><br/>
hereafter in all records, deeds documents and other writings and in all actions and proceedings as well as in all dealings and transactions and on all occasions whatsoever use and subscribe the said name of {{new_full_name}} as my name, in substitution for my former name of {{old_full_name}} so relinquished as aforesaid to the intent that I may hereafter be called known or distinguished not by the former name of {{old_full_name}}, but by the name {{new_full_name}}.
<br/><br/>
<b>III. I AUTHORISE AND REQUIRE</b><br/>
all persons at all times to designate, describe, and address me by the adopted name of {{new_full_name}}.
<br/><br/>
{{#title_change}}
<b>I FURTHER HEREBY DECLARE</b><br/>
that I entirely renounce, relinquish and abandon the use of my said former title {{old_title}} and assume, adopt and determine to take and use from the date hereof the title of {{new_title}} in substitution for my former title of {{old_title}}.
<br/><br/>
{{/title_change}}
<b>IN WITNESS</b><br/>
whereof I have hereunto subscribed my adopted and substituted name of {{new_full_name}} and also my said former name of {{old_full_name}}.
<br/><br/>
<b>SIGNED ON THIS {{day}}{{caps_day_descriptor}} day of {{caps_month}} in the year {{caps_year}}</b>
<br/><br/>
by the above name 
{{#title_change}}{{new_title}} {{/title_change}}{{new_full_name}}
<br/>
<br/>
<br/>
___________________________(New signature). 
<br/><br/>
formerly known as
{{#title_change}}{{old_title}} {{/title_change}}{{new_full_name}}
<br/>
<br/>
<br/>
___________________________(Previous signature).
<br/><br/>
IN THE PRESENCE OF:
<br/><br/>
Witness name: ________________________________
<br/><br/><br/>
Signature: ___________________________________
<br/><br/>
Occupation: __________________________________
<br/><br/>
Address: _____________________________________