<b>Statutory Declaration for a Change of Name</b>
<br/><br/>
I, {{new_first_names}} {{new_surname}} of {{house_number}} {{street_name}}, {{town}}, {{postcode}} in the County of {{county}} formerly known as {{old_first_names}} {{old_surname}} do solemnly and sincerely declare that:
<br/><br/>
<ol>
<li>I ABSOLUTELY and entirely renounce, relinquish and abandon the use of my former name of {{old_first_names}} {{old_surname}} and assume, adopt and determine to take and use from the date hereof the name of {{new_first_names}} {{new_surname}} in substitution for my former name of {{old_first_names}} {{old_surname}}</li>
<li>I SHALL at all time hereafter in all records, deeds, documents and other writings and in all actions and proceedings, as well as in all dealings and transactions and on all occasions whatsoever use and subscribe the said name of {{new_first_names}} {{new_surname}} as my name, in substitution for my former name of {{old_first_names}} {{old_surname}} so relinquished aforesaid to the intent that I may hereafter be called, known or distinguished by the name of {{new_first_names}} {{new_surname}} only</li>
<li>I AUTHORISE and require all persons at all times to designate, describe and address me by the adopted name of {{new_first_names}} {{new_surname}}
</ol>
<br/><br/>
<b>AND I make this solemn declaration conscientiously beliving the same to tbe true by virtue of the provisions of the Statutory Declarations Act, 1835</b>
<br/><br/>
Declared at: _________________________________________________________
<br/><br/>
This _____ day of _________________ in the year _____
<br/><br/><br/><br/>
_____________________<br/> 
<small>{{new_first_names}} {{new_surname}}</small>
<br/><br/>
formerly 
<br/><br/><br/><br/>
_____________________<br/>
<small>{{old_first_names}} {{old_surname}}</small>
<br/><br/><br/><br/>
Before me ________________________________________________<br/>
a solicitor empowered to administer oaths.
<br/><br/>
<div style="border: 1px solid black; height: 2in; width: 3in;">
<small>Solicitor's stamp:</small>
</div>